@media screen and (orientation: landscape) and  (height: 1366px){

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
.galeria {margin-top: 150px}
footer {
;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  
}
}