

@media only screen and (min-width: 1367px) {
  .cc1 {p{font-size: 25px; line-height: 4;}}
  .cc2 {p{font-size: 25px; line-height: 3;
  	}}
  }

  @media only screen and (max-width: 1024px) {
    p {text-align: justify;}

  	}
  